# --- Unreal Engine ---
# Build artifacts
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# --- IDE / OS ---
.vs/
.vscode/
.idea/
*.sln
*.xcodeproj
*.xcworkspace
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.user
*.suo
.DS_Store
Thumbs.db

# --- Logs ---
*.log
